earthquakes.json
[{"id":"111d7605.f6cdc2","type":"tab","label":"Earthquakes","disabled":false,"info":""},{"id":"743f2943.c92ec","type":"ui_group","z":"","name":"Quake EpiCenters","tab":"e4847ede.ebc6","order":2,"disp":true,"width":"22","collapse":false},{"id":"bf987639.9e4808","type":"ui_group","z":"","name":"Start/Stop","tab":"e4847ede.ebc6","order":1,"disp":true,"width":"3","collapse":false},{"id":"579371a5.c09ff8","type":"ui_group","z":"","name":"Earthquakes over the past 2.5 Days","tab":"e4847ede.ebc6","order":3,"disp":true,"width":"10","collapse":false},{"id":"e4847ede.ebc6","type":"ui_tab","z":"","name":"Earthquakes","icon":"dashboard","order":7},{"id":"c3023562.6b119","type":"function","z":"111d7605.f6cdc2","name":"remap property names","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = msg.payload.type;\nmsg.payload.icon = msg.payload.type;\nmsg.payload.name = msg.payload.id;\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["215a3721.5203a8"]]},{"id":"215a3721.5203a8","type":"debug","z":"111d7605.f6cdc2","name":"","active":true,"tosidebar":true,"console":false,"complete":"payload","x":840,"y":120,"wires":[]},{"id":"72f787f7.7dfac","type":"csv","z":"111d7605.f6cdc2","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":450,"y":119,"wires":[["c3023562.6b119"]]},{"id":"df1f1ab3.a49d9","type":"http request","z":"111d7605.f6cdc2","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","x":290,"y":119,"wires":[["72f787f7.7dfac"]]},{"id":"7413ff38.ec0af","type":"inject","z":"111d7605.f6cdc2","name":"quakes","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":119,"wires":[["df1f1ab3.a49d9"]]},{"id":"ecb1c0c9.6bc3f","type":"comment","z":"111d7605.f6cdc2","name":"Earthquake !!!","info":"Press the button on the `inject` node to get the list of earthquakes from the USGS public API.\n\nThis returns a CSV - which we then parse using the `CSV` node into individual objects.\n\nThese are then passed through a `function` to remap the property names into ones \nsuitable for the map node, and passed to the `web-socket` out node.\n\nThe map will be served at http://localhost:1880/worldmap .\nYou will need to zoom out :-)","x":130,"y":80,"wires":[]},{"id":"abc09a07.839d68","type":"worldmap","z":"111d7605.f6cdc2","name":"","x":950,"y":440,"wires":[]},{"id":"aac53e3c.8773f","type":"function","z":"111d7605.f6cdc2","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nif( msg.payload.mag > 4 ) {\n    msg.payload.iconColor = \"red\";\n} else {\n    msg.payload.iconColor = \"orange\";\n}\n\nif( msg.payload.mag > 5 ) {\n    msg.alert = true;\n} \n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["abc09a07.839d68","ba112a46.d8c29","f505f82a.dc3cf8"]]},{"id":"c695ac66.0ac9b","type":"csv","z":"111d7605.f6cdc2","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":310,"y":560,"wires":[["aac53e3c.8773f","fe616b0f.d735a"]]},{"id":"651ee3ba.245694","type":"http request","z":"111d7605.f6cdc2","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":150,"y":560,"wires":[["c695ac66.0ac9b","40ebe302.e7c4dc"]]},{"id":"a0cb1987.50cda8","type":"inject","z":"111d7605.f6cdc2","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"x":120,"y":440,"wires":[["b2fa688f.94ce78"]]},{"id":"ba112a46.d8c29","type":"debug","z":"111d7605.f6cdc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":560,"wires":[]},{"id":"5ca7ac41.ff98fc","type":"ui_template","z":"111d7605.f6cdc2","group":"743f2943.c92ec","name":"Embedded Map","order":2,"width":"22","height":"15","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":300,"wires":[[]]},{"id":"4396918b.7a1ad8","type":"template","z":"111d7605.f6cdc2","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.url}}} height=750px width=1150px ></iframe>","x":570,"y":300,"wires":[["5ca7ac41.ff98fc"]]},{"id":"c8b43c47.8c653","type":"comment","z":"111d7605.f6cdc2","name":"One time - Add Map to Dashboard","info":"","x":180,"y":260,"wires":[]},{"id":"c121c997.8bd44","type":"switch","z":"111d7605.f6cdc2","name":"Switch On","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":520,"y":440,"wires":[["67cdc0da.a49d18"]]},{"id":"b2fa688f.94ce78","type":"ui_switch","z":"111d7605.f6cdc2","name":"","label":"Start/Stop","group":"bf987639.9e4808","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":440,"wires":[["c121c997.8bd44"]]},{"id":"698f5c6a.b8c36c","type":"ui_template","z":"111d7605.f6cdc2","group":"579371a5.c09ff8","name":"","order":0,"width":"10","height":"14","format":"","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":520,"y":720,"wires":[["d4b98a56.00556"]]},{"id":"40ebe302.e7c4dc","type":"function","z":"111d7605.f6cdc2","name":"Parse Quake Data","func":"// splits giant string of Earthquake csv data at each new line\nquakes = msg.payload.split(/\\r\\n|\\r|\\n/);\n// Skip the first line - which contains column headers\n// The array of json objects could be\n// Quake = {  \"time\",\n//            \"latitude\",\n//            \"longitude\",\n//            \"depth\",\n//            \"mag\",\n//            \"magType\",\n//            \"nst\",\n//            \"gap\",\n//            \"dmin\",\n//            \"rms\",\n//            \"net\",\n//            \"id\",\n//            \"updated\",\n//            \"place\",\n//            \"type\",\n//            \"horizontalError\",\n//            \"depthError\",\n//            \"magError\",\n//            \"magNst\",\n//            \"status\",\n//            \"locationSource\",\n//            \"magSource\"\n//        };\n// eg:\n// \"2018-09-16T22:04:11.440Z,36.8370018,-121.5719986,5.99,2.56,md,50,36,0.03809,0.11,nc,nc73085075,2018-09-16T22:25:02.684Z,\"3km WSW of San Juan Bautista, CA\",earthquake,0.19,0.4,0.17,32,automatic,nc,nc\"\n// [\"2018-09-16T22:04:11.440Z\",\"36.8370018\",\"-121.5719986\",\"5.99\",\"2.56\",\"md\",\"50\",\"36\",\"0.03809\",\"0.11\",\"nc\",\"nc73085075\",\"2018-09-16T22:25:02.684Z\",\"\\\"3km WSW of San Juan Bautista\",\" CA\\\"\",\"earthquake\",\"0.19\",\"0.4\",\"0.17\",\"32\",\"automatic\",\"nc\",\"nc\"]\n\nvar QuakeArray = [];\nvar ThisQuake = {};\n// Start at 1 because 0 has the column headers\nfor( var i = 1; i < quakes.length; i++ ) {\n    // Split each line into a json object that describes an earthquake\n    columns = quakes[i].split(',');\n\n    // We only care about \"place\" and \"mag\" for our little table\n    // place is column[13]\n    // mag is column[4]\n    // Build a json object\n\n    // The Location string will often contain quoted \"South of Tonga\"\n    // It looks strange in the dashboard table so remove the \"\" \n    if( typeof( columns[13] ) != 'undefined') {\n       columns[13] = columns[13].replace(/\"/g, '');\n    \n        // Build a json object\n        ThisQuake = {\"Location\":columns[13],\"Mag\":columns[4],\"lat\":columns[1],\"lng\":columns[2]};\n        // Add this Quake to an array of Quakes from the 2.5 Day CSV\n        QuakeArray.push( ThisQuake );\n    }\n}\n msg.payload = QuakeArray;\n //msg.payload = quakes;\n //return msg;\n//msg.payload = {};\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 488px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nvar latlng = \"\";\nmsg.template=msg.template+\"<table span=100%><tr><th>Location</th><th>Magnitude</th><th>Location</th></tr>\";\nfor( i = 1; i < QuakeArray.length; i++ ) {\n//    msg.template = msg.template + \"<tr><td>\" + QuakeArray[i].Location + \"</td><td>\" + QuakeArray[i].Mag + \"</td></tr>\";\n    msg.template = msg.template + \"<tr><td>\" + QuakeArray[i].Location + \"</td><td>\" + QuakeArray[i].Mag + \"</td>\";\n    // Add an info icon that, if clicked, will zoom to this lat,lng\n    latlng = \"\"+QuakeArray[i].lat+\",\"+QuakeArray[i].lng;\n    msg.template = msg.template + \"<td><i ng-click=\\\"send({payload:'\"+ latlng +\"'})\\\" class=\\\"fa fa-info-circle\\\" style=\\\"font-size:16px;color:red\\\"></i></td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["698f5c6a.b8c36c","59c60e9b.e9cb98"]]},{"id":"59c60e9b.e9cb98","type":"debug","z":"111d7605.f6cdc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":640,"wires":[]},{"id":"fe616b0f.d735a","type":"debug","z":"111d7605.f6cdc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":520,"wires":[]},{"id":"ef7ab4d4.c4a44","type":"delay","z":"111d7605.f6cdc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":340,"wires":[["fa292e2e.40bba"]]},{"id":"6abcfa08.21f9e4","type":"inject","z":"111d7605.f6cdc2","name":"Init WorldMap","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":300,"wires":[["ef7ab4d4.c4a44","5016ec2c.f0d594"]]},{"id":"f505f82a.dc3cf8","type":"switch","z":"111d7605.f6cdc2","name":"Big Quake Alert","property":"alert","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":620,"wires":[["770f2cf.483f4d4"]]},{"id":"770f2cf.483f4d4","type":"template","z":"111d7605.f6cdc2","name":"Big Quake Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.mag}} magnitude quake {{payload.place}} !","output":"str","x":940,"y":620,"wires":[["ba51eb06.c6f75","6e1afc24.0b493c"]]},{"id":"ba51eb06.c6f75","type":"debug","z":"111d7605.f6cdc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":600,"wires":[]},{"id":"fa292e2e.40bba","type":"change","z":"111d7605.f6cdc2","name":"Set up Map","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"layer\":\"World_Basemap_GCS_v2\",\"lat\":41.9028,\"lon\":2.4964,\"zoom\":18,\"addtoheatmap\":true,\"autopan\":true,\"map\":{\"name\":\"World_Topo_Map\",\"url\":\"http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png\",\"opt\":{\"MaxZoom\":18,\"attribution\":\"&copy; OpenStreetMap\"}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["abc09a07.839d68"]]},{"id":"5016ec2c.f0d594","type":"change","z":"111d7605.f6cdc2","name":"Inject /worldmap","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.url","pt":"msg","to":"\"/worldmap\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["4396918b.7a1ad8"]]},{"id":"6e1afc24.0b493c","type":"ui_toast","z":"111d7605.f6cdc2","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1140,"y":640,"wires":[]},{"id":"bb04245c.d7cbf","type":"debug","z":"111d7605.f6cdc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":720,"wires":[]},{"id":"d4b98a56.00556","type":"function","z":"111d7605.f6cdc2","name":"Zoom","func":"var latlng = msg.payload.split(',');\nmsg.payload = { command : { zoom:18, \n                            \"lat\":latlng[0],\n                            \"lon\":latlng[1],\n                            autopan:true }\n};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["bb04245c.d7cbf","abc09a07.839d68"]]},{"id":"67cdc0da.a49d18","type":"change","z":"111d7605.f6cdc2","name":"Set up Map","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"layer\":\"World_Basemap_GCS_v2\",\"lat\":41.9028,\"lon\":2.4964,\"zoom\":18,\"addtoheatmap\":true,\"autopan\":true,\"map\":{\"name\":\"OSM\",\"url\":\"http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png\",\"opt\":{\"MaxZoom\":12,\"attribution\":\"&copy; OpenStreetMap\"}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":440,"wires":[["abc09a07.839d68","651ee3ba.245694"]]}]